<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
</head>

<body>
    <form method="post">
        <div class="imgcontainer">
            <img src="avatar.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">

            <% if (isnew===0){ %>
                <label for="pswcurrent"><b>Current password</b></label>
                <input type="password" placeholder="Enter new password" name="pswcurrent" required>
                <% } %>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter new password" name="psw" required>

                    <label for="pswrepeat"><b>Repeat password</b></label>
                    <input type="password" placeholder="Repeat password" name="pswrepeat" required>

                    <button type="submit">Change</button>
        </div>

    </form>
</body>

</html>