<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/login.css">
    <style>
        body,
        html {
            background: url('/image1.jpg') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Change password</h3>
                    <form method="post">

                        <div class="form-group">
                            <% if (isnew===0){ %>
                                <label for="pswcurrent"><b>Current password</b></label>
                                <input type="password" class="form-control" placeholder="Enter new password"
                                    name="pswcurrent" required>
                                <% } %>

                        </div>
                        <div class="form-group">
                            <label for="psw"><b>Password</b></label>
                            <input type="password" class="form-control" placeholder="Enter new password" name="psw"
                                required>

                        </div>


                        <div class="form-group">
                            <label for="pswrepeat"><b>Repeat password</b></label>
                            <input type="password" class="form-control" placeholder="Repeat password" name="pswrepeat"
                                required>
                        </div>

                        <button style=" width: 100%;" type="submit" class="btn btn-primary">Change</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>