:root {
  --sidebar-width: 250px;
  --sidebar-bg-color: #343a40;
  --sidebar-text-color: #ffffff;
  --sidebar-hover-bg-color: #495057;
  --sidebar-active-color: #ffffff;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f7f6;
  margin: 0;
}

.wrapper {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
}

.sidebar {
  width: var(--sidebar-width);
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-text-color);
}

.sidebar span,
a {
  display: block;
  padding: 1rem;
  color: var(--sidebar-text-color);
  text-decoration: none;
  transition: background-color 0.3s, padding-left 0.3s;
}



.sidebar span:hover,
.sidebar span.active {
  cursor: pointer;
  background-color: var(--sidebar-hover-bg-color);
  padding-left: 1.5rem;
}

.sidebar li.active {
  background-color: var(--sidebar-hover-bg-color);
  padding-left: 1rem;
}

.sidebar a:hover {
  color: var(--sidebar-text-color);
  text-decoration: none;
  background-color: var(--sidebar-hover-bg-color);
  padding-left: 1.5rem;
}

.page-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.table-responsive {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Table row animation */
.table-animate {
  animation: enterFrame 0.5s ease-in-out;
}

@keyframes enterFrame {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome-page {
  padding: 20px;
  font-weight: bold;
}

.list-unstyled li span>* {
  margin-right: 5px;
}

.active-nav>span {
  color: rgb(244, 119, 119);
}

.disable-page {
  display: none;
}

.enable-page {
  display: block;
}