body, html {
    height: 100%;
    margin: 0;
    background: url('./images/alessio-soggetti-cfKC0UOZHJo-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 15px;
    animation: fadeIn 1s;
}

.card-title {
    font-weight: bold;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 15px;
}